body {
	background-color: #d6e7bc;
	animation: fade 1.25s;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	transition: background 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #708e68;
	border-radius: 2.5px;
}

.navbar-brand {
	font-family: "Poppins", sans-serif;
	font-size: 1.5vw;
	color: #195a09;
	font-weight: 600;
}

#navbarMain {
	padding: 3vh 6vw;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

#bodyContent {
	padding: 0 6vw;
}

.bodyHeader {
	font-family: "Poppins", sans-serif;
	font-size: 3.5vw;
	color: #195a09;
	font-weight: 800;
	animation: entrance 2s;
}

.bodySubtitle {
	font-family: "Poppins", sans-serif;
	font-size: 2vw;
	width: 50%;
	color: #195a09;
	font-weight: 400;
	animation: entrance 2.25s;
}

.btn {
	background-color: #708e68;
	font-size: 1.5vw;
	padding: 0.5vw 6vw;
	border-radius: 12px;
	margin-top: 4vw;
	margin-bottom: 1vw;
	border: none;
	animation: entrance 2.5s;
}
.btn:hover {
	background-color: #4c6146;
}

.buttonExplaination {
	font-family: "Poppins", sans-serif;
	font-size: 1vw;
	width: 20%;
	color: #195a09;
	font-weight: 300;
	animation: entrance 2.75s;
}

.navbar-text {
	font-family: "Poppins", sans-serif;
	font-size: 1vw;
	padding: 0.5vw 1vw;
}

.navbar-nav .nav-link {
	font-family: "Poppins", sans-serif;
	font-size: 1.5vw;
	padding: 0.5vw 1vw;
	margin-left: 3vw;
	color: #195a09;
}

.navbar-nav .nav-link:hover {
	color: #2c352a;
}
.placeholder {
	background-color: #b1c691;
	display: inline-block;
	height: 1em;
	width: 2em;
}
.placeholder-glow {
	animation: placeholder-glow 1.5s infinite alternate;
}
@keyframes placeholder-glow {
	from {
		background-color: #b1c691;
	}
	to {
		background-color: #b1c691;
	}
}
/* Apply fixed positioning to the entire container */
.container {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	max-width: 50%;
}

@keyframes entrance {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
